---

---

<li class="badge">
	<slot />
</li>

<style>
	.badge {
		background: var(--bg-elev);
		border: 1px solid var(--border);
		border-radius: 999px;
		padding: 10px 12px;
		font-size: 13px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
</style>
